<%= button_to 'Back to meal', meal_path(@meal), method: :get, class: 'btn btn-primary' %>
<hr>
<% @users.each do |user| %>
  <% if @meal.guest_users.include?(user) %>
    <%= user.invites.find_by(meal_id: params[:meal_id]).invite_status %>
  <% else %>

    <div class="block">

    <%= form_for [@meal, Invite.new] do |f| %>
      <%= f.hidden_field :meal_id, value: @meal.id %>
      <%= f.hidden_field :user_id, value: user.id %>
      <%= f.hidden_field :role, value: 'guest' %>
      <%= f.hidden_field :invite_status, value: 'pending' %>
      <%= f.submit "Invite" %>
    <% end %>
    </div>
  <% end %>
   |  <%= user.email %>
  <hr>
<% end %>
