<% if user_signed_in? %>
  <h1> Meals Index</h1>
  <%= link_to 'New meal', new_meal_path %>

  <p> My Meals </p>
  <% @my_meals.each do |meal| %>
    <%= link_to meal.title, meal_path(meal) %>
    Hosted by <%= meal.host.email %>
    on <%= meal.hosted_at.strftime("%F at %r") %>
    <br>
  <% end %>
  <br>

  <p> Friend's Meals </p>
  <% @friends_meals.each do |meal| %>
    <%= link_to meal.title, meal_path(meal) %>
    Hosted by <%= meal.host.email %>
    on <%= meal.hosted_at.strftime("%F at %r") %>
    <br>
    <% end %>
  <br>

  <p> My Invites </p>
  <% @invites.each do |meal| %>
    <%= link_to meal.title, meal_path(meal) %>
    Hosted by <%= meal.host.email %>
    on <%= meal.hosted_at.strftime("%F at %r") %>
    <br>
  <% end %>
  <br>

  <p> Declined Invites </p>
  <% @declined.each do |meal| %>
    <%= link_to meal.title, meal_path(meal) %>
    Hosted by <%= meal.host.email %>
    on <%= meal.hosted_at.strftime("%F at %r") %>
    <br>
  <% end %>
  <br>

<% else %>

  <div class="inner cover text-center">
    <h1 class="cover-heading">Plan meals, pick food, invite your friends!</h1>
    <p class="lead">Potlucky is a thing that does things yay things, this is a massive lead in</p>
    <p class="lead">
    <%= link_to 'Get Started!', new_user_registration_path, method: :get, class: 'btn btn-lg btn-primary' %>
    </p>
  </div>
<% end %>
