<% if user_signed_in? %>
  <%= button_to 'New meal', new_meal_path, class: 'btn btn-lg btn-default', method: :get %>
  <br><br>

  <div class="panel panel-success row">
    <div class="panel-heading">
      <h1> Meals I'm Hosting </h1>
    </div>
    <div class="panel-body">
      <% if @my_meals.empty? %>
        <h2> You aren't hosting any meals </h2>
      <% end %>
      <% @my_meals.each do |meal| %>
        <div class="row">
          <h2 class="col-md-6">
            <%= link_to meal.title, meal_path(meal) %>
          </h2>
          <h3 class="col-md-6">
            <%= meal.hosted_at.strftime("%F || %r") %>
            @ <%= meal.location %>
          </h3>
        </div>
        <hr>
      <% end %>
    </div>
  </div>

  <div class="panel panel-primary row">
    <div class='panel-heading'>
      <h1> Meals I'm Attending </h1>
    </div>
    <div class='panel-body'>
      <% if @friends_meals.empty? %>
        <h2> You aren't attending any meals </h2>
      <% end %>
      <% @friends_meals.each do |meal| %>
        <div class="row">
          <h2 class="col-md-6">
            <%= link_to meal.title, meal_path(meal) %>
          </h2>
          <h3 class="col-md-6">
            <%= meal.hosted_at.strftime("%F || %r") %>
            @ <%= meal.location %>
          </h3>
        </div>
        <hr>
      <hr>
      <% end %>
    </div>
  </div>

  <div class="panel panel-info row">
    <div class='panel-heading'>
      <h1> My Invites </h1>
    </div>
    <div class='panel-body'>
      <% if @invites.empty? %>
        <h2> You don't have any invitations </h2>
      <% end %>
      <% @invites.each do |meal| %>
        <div class="row">
          <h2 class="col-md-6">
            <%= link_to meal.title, meal_path(meal) %>
          </h2>
          <h3 class="col-md-6">
            <%= meal.hosted_at.strftime("%F || %r") %>
            @ <%= meal.location %>
          </h3>
        </div>
        <hr>
      <% end %>
    </div>
  </div>

  <div class="panel panel-danger row">
    <div class='panel-heading'>
      <h1> Declined Invites </h1>
    </div>
    <div class='panel-body'>
      <% @declined.each do |meal| %>
        <div class="row">
          <h2 class="col-md-6">
            <%= link_to meal.title, meal_path(meal) %>
          </h2>
          <h3 class="col-md-6">
            <%= meal.hosted_at.strftime("%F || %r") %>
            @ <%= meal.location %>
          </h3>
        </div>
        <hr>
      <% end %>
    </div>
  </div>

<% else %>
  <div class="welcome-background">
    <div class="welcome-msg">
      <h1 class="cover-heading">
        Plan meals, pick food, invite your friends!
      </h1>
      <h3 class="lead">
        Quit browsing delivery services like it's Netflix! Cooking is healthy, sexy, easy, and fun...and it should be social! Potlucky is a tool to help you connect with friends and food-lovers. Host your own meals, or be a guest at others.
      </h3>
      <h2>
        What do you bring to the table?
      </h2>
      <br><br><br><br>
      <p class="lead">
      <%= link_to 'Get Started!', new_user_registration_path, method: :get, class: 'btn btn-lg btn-primary' %>
      </p>
      <br>
    </div>
  </div>
<% end %>
