<% if user_signed_in? %>
<h1> Meals Index</h1>
<%= link_to 'New meal', new_meal_path %>
<p> My Meals -- meals that current_user is host of</p>
<% @my_meals.each do |meal| %>
  <%= meal.title %>
  Hosted by <%= meal.host.email %>
  <br>
<% end %>
<br>
<p> Friend's Meals -- meals that current_user is guest of & invite='attending'</p>
<% @friends_meals.each do |meal| %>
  <%= meal.title %>
  Hosted by <%= meal.host.email %>
  <br>
<% end %>
<br>
<p> My Invites -- meals that current user is guest & invite='pending'</p>
<% @invites.each do |meal| %>
  <%= meal.title %>
  Hosted by <%= meal.host.email %>
  <br>
<% end %>
  <br>

<% else %>
<p> Plan meals, pick dishes, invite your friends! </p>
<br>
<%= button_to 'Get Started!', new_user_registration_path, method: 'get', class: "btn btn-primary" %>
<% end %>
