<div class="row-fluid">
  <%= form_for (@meal), html: {:class => "form-horizontal"} do |f| %>

  <fieldset>

    <legend> New Meal </legend>

    <div class="control-group">
      <%= f.label :title, "Title" %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :location, 'Location' %>
      <div class="controls">
        <%= f.text_field :location %>
      </div>
    </div>
    <br>
    <div class="control-group">
      <%= f.label :hosted_at, "When?" %>
      <div class="controls">
        <%= f.datetime_select :hosted_at, :ampm => true, :minute_step => 15 %>
      </div>
    </div>
    <br>
    <div class="form-actions">
      <%= f.submit "Create Meal!", class: "btn btn-large btn-primary" %>
    </div>

  </fieldset>
  <% end %>
</div>
