<div class="row">
  <div class="col-md-3">
    <h3 class="meal-box options">
      Host:
      <%= @meal.host.email %>
    </h3>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <p class="meal-title meal-box"><%= @meal.title %></p>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <h2 class="meal-box">
      <%= @meal.hosted_at.strftime("%B %d, '%y \n %I:%M %p") %>
      <p>@ <%= @meal.location %></p></h2>

  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <% if @meal.host == current_user %>
      <div class="options meal-box">
        <%= render 'host_options' %>
      </div>
    <% else %>
      <div class="meal-box">
        <%= render 'rsvp' %>
      </div>
    <% end %>
<br>
    <div class='meal-box padding'>
      <%= render 'guest_list' %>
    </div>
  </div>

  <div class="col-md-4 col-md-offset-1 meal-box dish-list">
    <h2> Things to bring </h2>
    <% if @meal.dishes.empty? %>
      <p> The host hasn't added any dishes </p>
    <% end %>
    <table class="meal-box dish-flair col-md-12 ">
      <thead>
        Play nice - Contribute and bring something!
        <div class="key unclaimed">Unclaimed</div>
        <div class="key claimed">Someone Else</div>
        <div class="key user-claimed">I'm Bringing</div>
        <br>
      </thead>
      <tbody>
        <%= render @meal.dishes %>
      </tbody>
    </table>
  </div>

  <div class="col-md-3 col-md-offset-1 meal-box">
    <h2> Comments </h2>
    <%= form_for [@meal,Comment.new] do |f| %>
      <%= f.text_field :content, placeholder: 'already hungry!' %>
      <hr>
      <%= f.submit "Leave Comment" %>
    <% end %>
    <hr>
    <%= render @meal.comments %>
  </div>
</div>
