<p> Host: <%= @meal.host.email %></p>
<h2><%= @meal.title %></h2>
<p><%= @meal.location %> | <%= @meal.hosted_at.strftime("%F | %r") %></p>

<% if @meal.host == current_user %>
  <div>
    <%= render 'host_options' %>
  </div>
<% else %>
  <div>
    <%= render 'rsvp' %>
  </div>
<% end %>

<div>
  <%= render 'guest_list' %>
</div>

<div>
  <h2> Dishes </h2>
  <% if @meal.dishes.empty? %>
    <p> The host hasn't added any dishes </p>
  <% end %>
  <ul>
    <%= render @meal.dishes %>
  </ul>
</div>

<h2> Comments </h2>
<%= form_for [@meal,Comment.new] do |f| %>
  <%= f.text_field :content, placeholder: 'already hungry!' %>
  <%= f.submit "Leave Comment" %>
<% end %>

<%= render @meal.comments %>

