<p><%= @meal.host.email %></p>
<h2><%= @meal.title %></h2>
<p><%= @meal.location %> at <%= @meal.hosted_at %></p>

<% if @meal.host == current_user %>
  <p> Invite Guests </p>
  <%= form_tag(meal_users_path(@meal), :method => "get", id: "search-form")   do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
  <% end %>

  <p> Add Dishes through yummly or create your own </p>
  SEARCH YUMMLY OR
  <%= link_to 'Make your own', new_meal_dish_path(@meal) %>


  <p> Delete this meal link </p>
  <%= button_to 'Delete Meal', meal_path(@meal), method: :delete, class: 'btn btn-warning' %>

<% else %>
  <div>
    <h4>RSVP: <%= @usermeal.invite_status %></h4>
    <%= button_to 'Attending', meal_usermeal_path(id: @usermeal.id, meal_id: @meal, invite_status: 'attending'), method: :patch, class: 'btn btn-success' %>
    <%= button_to 'Decline', meal_usermeal_path(id: @usermeal.id, meal_id: @meal, invite_status: 'decline'), method: :patch, class: 'bth btn-warning' %>
  </div>
<% end %>

<ul>
  <% @guests.each do |guest| %>
  <li>
    <%= guest.email %>
  </li>
  <% end %>
</ul>

