<%= raw @banner %>
<br>
<% @matches.each do |match| %>
  <%= match[:name]%>
  <img src=<%= match[:thumb] %> alt='No thumbnail available'>
  <div>
    <ul>Recipe:<br>
      <% match[:ingr].each do |ingredient| %>
        <li><%=ingredient%></li>
      <% end %>
    </ul>
  </div>
  <div>
    Rating: <%= match[:rate] %>
    <br>
    <%= link_to 'See it on Yummly', match[:link] %>
  </div>

  <%= form_for [@meal,Dish.new] do |f| %>
    <%= f.hidden_field :name, value: match[:name] %>
    <%= f.hidden_field :thumb_url, value: match[:thumb] %>
    <%= f.hidden_field :recipe_url, value: match[:link] %>
    <%= f.submit "Add to meal" %>
  <% end %>
  <hr>
<% end %>

