<h2><%= @dish.name %></h2>
<img src=<%= @dish.thumb_url %> alt="Dish Picture">
<%= link_to "See Recipe", @dish.recipe_url %>

<% if @dish.can_be_claimed %>
    <% if @current_guest == @host %>
      <% if @claimer == @host %>
        No one else has claimed this yet, you're responsible as the host...
        <%= button_to "I will bring it", meal_dish_path(id: @dish.id, claimer_id: @host.id, can_be_claimed: false), method: :patch, class: 'btn btn-primary' %>
        ---link_to delete this dish
      <% else %>
        this has been claimed
        link to delete
      <% end %>

    <% else %>
      <% if @claimer == @current_guest %>
        you said you are bringing this dish
        <%= button_to "Actually, I will not bring it", meal_dish_path(id: @dish.id, claimer_id: @host.id, can_be_claimed: true), method: :patch, class: 'btn btn-warning' %>
      <% elsif @claimer == @host %>
        this dish can be claimed
        <%= button_to "I will bring it", meal_dish_path(id: @dish.id, claimer_id: @current_guest.id, can_be_claimed: true), method: :patch, class: 'btn btn-primary' %>
      <% else %>
        This dish has been claimed
      <% end %>
    <% end %>

<% else %>
  <% if @current_guest == @host %>
    You, as host, are bringing this dish
    --link_to 'nvm it can be claimed'
  <% else %>
    The Host is providing this dish
  <% end %>
<% end %>
